@import "tailwindcss";

.banner {
    @apply left-0 right-0 flex flex-col items-center justify-center text-center 
        bg-gradient-to-b from-sky-300 via-sky-200 to-white
        text-sky-700 font-semibold shadow-md w-full gap-4;
}

.members {
    @apply inline-flex gap-1;
}

.members > li::after {
    content: " - ";
    margin: 0 8px;
    font-weight: bold;
    @apply text-sky-600;
}

.members>li:last-child::after {
    content: "";
}

.active-link {
    @apply bg-slate-100;
}